body {
    background-image: linear-gradient(45deg, rgb(251, 249, 252), rgba(28, 189, 189, 0.849));
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Nunito;
}

.brand{
    font-family: Lobster Two;
}
.tagline{
    font-family: Nunito;
}
.words{
    text-align: center;
   margin: 50px 100px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navi{
    background-color: white;
    width: 100%;
}
.nav-item{
    margin: 25px 0px 25px 10px;
}

#navi .nav-pills .nav-link {
  color: rgba(21, 151, 151, 0.849); /* Your brand's teal color */
  
}

#navi .nav-pills .nav-link.active {
  background-color:  rgba(21, 151, 151, 0.849); /* Teal background */
  color: #ffffff; /* White text */
}

.contact{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

img{
border-radius: 15px;
}
.cards img{
    width: 150px;
    height: 150px;
}
.name{
    font-size: medium;
}

.cards{
background-color: white;
width: 160px;
margin: 20px;
border-radius: 15px;
text-align: center;
padding: 3px;

}

.btn{
width: 95%;
color: rgb(255, 255, 255);
background-color:  rgb(21, 151, 151);
background-size: 400% 400%;
font-size: 14px;
border: none;
margin-top: 10px;
padding: 3% 10% 3% 10%;
border-radius: 5px;
}

#IG, #FB{
    width: 30px;
    height: 30px;
    border-radius: 0%;
    margin: 10px;
}

footer{
    background-color: rgba(255, 255, 255, 0.466);
    text-align: center;
    width: 100%;
    height: 50px;
}