
body {
    background-image: linear-gradient(45deg, rgb(251, 249, 252), rgba(28, 189, 189, 0.849));
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Nunito;
}
.words{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-size:10vh;
    margin: 75px 0px;
    text-align: center;
}
.container{
    background-color: white !important;
}
.brand{
    font-family: Lobster Two;
}
.tagline{
    font-family: Nunito;
}
h3{
    margin: 50px 100px ;
}
img{
    border-radius: 15px;
}
.food {
    background-color: white;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    padding: 3px;
} 
#menu{
    display: block;
    margin: 0 auto;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;

}
.gallery-item {
    position: relative;
    margin: 15px;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.all{
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
}
h4{
    padding: 0px
}
#navi{
    background-color: white;
    width: 100%;
}
.nav-item{
    margin: 25px 0px 25px 10px;
}
#navi .nav-pills .nav-link {
  color: rgba(21, 151, 151, 0.849); /* Your brand's teal color */
}
#navi .nav-pills .nav-link.active {
  background-color: rgba(21, 151, 151, 0.849); /* Teal background */
  color: #ffffff; /* White text */
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

/* Modal content (image) */
/* Modal content (image) */
/* Modal content (image) */
/* 1. The container DIV */


/* 2. The image INSIDE the container */
.modal-image {
  /* This is where we control the size, ensuring no distortion */
  display: block; /* Important for removing extra space below the image */
  max-width: 90vw; /* 90% of the viewport's width */
  max-height: 80vh; /* 90% of the viewport's height */
  width: auto;
  height: auto;
}
@keyframes zoomIn {
  from {transform: scale(0.6);}
  to {transform: scale(1);}
}
.modal.show {
  display: flex;
  opacity: 1;
}
/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}
/* Caption of modal image */
.caption {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}

#IG, #FB{
    width: 30px;
    height: 30px;
    border-radius: 0%;
    margin: 10px;
}
footer{
    background-color: rgba(255, 255, 255, 0.466);
    text-align: center;
    width: 100%;
    height: 50px;
}
